apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  labels:
    app: spark-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
      - name: spark-worker
        # image: docker.io/bitnami/spark:3.5
        image: docker.io/fabianzeiher/sparkling-spark
        ports:
        - containerPort: 7077
        env:
        - name: SPARK_MODE
          value: worker
        - name: SPARK_MASTER_URL
          value: spark://spark:7077
        - name: SPARK_WORKER_MEMORY
          value: "2G"
        - name: SPARK_WORKER_CORES
          value: "4"
        - name: SPARK_RPC_AUTHENTICATION_ENABLED
          value: "no"
        - name: SPARK_RPC_ENCRYPTION_ENABLED
          value: "no"
        - name: SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED
          value: "no"
        - name: SPARK_SSL_ENABLED
          value: "no"
        - name: SPARK_USER
          value: spark
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker-srv
  labels:
    name: spark-worker
spec:
  ports:
  - port: 7077
    targetPort: 7077
    protocol: TCP
  selector:
    app: spark-worker